#header {
  //height: 150px;
  background-color: white;
  color: white;

  .nav-menu {

    background: whitesmoke;

    nav button {
      margin: 5px 10px;
    }
  }

  h1 {
    font-size: 1em;
    color: black;
    text-align: center;
    margin-top: 15px;

    span {
      font-weight: normal;
      background-color: yellow;
    }
  }

  mat-icon {
    color: black;
  }


}
