#header {
  position: relative;
  background: white;

  a {
    padding: 10px;
  }

  a:hover {
    background-color: lightgray;
    color: white;
    cursor: pointer;
    background-color: #ec2058;
  }
}

#header-sub-menu {
  background-color: yellow;
  // hot pink
  // background-color: #ec2058;
  // background-color: #ea1821;
  // background-color: #cccccc;
}



///*
//#header {
//  position: relative;
//  background: white;
//  padding-bottom: 10px;
//
//  .header-search-div {
//    width: 500px;
//  }
//
//  h1 {
//    font-size: 1em;
//    color: black;
//    text-align: center;
//    margin-top: 15px;
//
//    span {
//      font-weight: normal;
//      background-color: yellow;
//    }
//  }
//
//  button {
//    margin-left: 5px;
//    margin-right: 5px;
//  }
//
//  mat-icon.arrow-drop-down {
//    position: relative;
//    top: -2px;
//  }
//
//}
//
//#header-sub-menu {
//  background-color: yellow;
//  //background-color: #ec2058;
//  //background-color: #ea1821;
//  //background-color: #cccccc;
//
//}
//
//// Mobile phone screen
//@media (max-width: 570px) {
//
//  #header {
//    .header-search-div mat-hint {
//      font-size: 9px;
//    }
//  }
//
//  #header-sub-menu h3 {
//    font-size: 20px;
//  }
//}
//*/
