<div id="header" class="container-fluid mat-elevation-z5">

  <div>
    <app-above-header-message></app-above-header-message>
  </div>

  <div class="row d-flex flex-row align-items-center">

    <div class="col-10 col-lg-4">
      <app-logo></app-logo>
    </div>

    <div class="d-flex justify-content-end col-2 col-lg-8">
      <div class="d-none d-lg-block">
        <a class="">List Your Plate</a>
        <a class="">How It Works</a>
        <a class="">Get a Valuation</a>
        <a class="">Price</a>
        <a class="">About</a>
        <a class="">Contact</a>
        <a class="">Login</a>
      </div>

      <div class="d-lg-none">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon matSuffix>menu</mat-icon>
        </button>
      </div>
      
    </div>
  </div>

</div>

<div id="header-sub-menu" class="container-fluid">
  <div class="row">
    <div class="text-center m-auto p-1">
      <!-- <h3>Advertise your Private ASIAN Number Plate here...</h3> -->
      <h3>{{ headerBannerMessage }}</h3>
    </div>
  </div>
</div>