<div id="header" class="container">
  <div class="row">
    <img src="http://www.apnaplates.com/images/new/logo.jpg" alt="APNAPLATES">
    <form>
      <label>Search</label>
      <input type="search" class="form-control" id="search" placeholder="Search">
    </form>
  </div>

  <div class="nav-menu">
    <nav>
      <a>HOME</a>
      <a>HOW IT WORKS</a>
      <a>PRICE</a>
      <a>SEARCH</a>
      <a>GET A VALUATION</a>
      <a>PLATE DESIGNER</a>
      <a>ABOUT</a>
      <a>CONTACT</a>
      <a>LOGIN</a>
    </nav>
  </div>
</div>
