<div id="main" class="container">
  <div class="row">

    <section class="banner-section col-12 centered">

    </section>

    <section class="header-search-div col-12 mt-3">
      <!--<h1>#1 for Advertising & Selling "<span>Asian Number Plates</span>" in the UK</h1>-->
      <mat-form-field appearance="fill" class="w-100 pb-1" hintLabel="">
        <mat-label>Search for your perfect number plate ...</mat-label>
        <input matInput placeholder="Search">
        <mat-hint align="start">Enter your name, initials, Singh, Mohammed, Jag, Khan, Faisal or anything</mat-hint>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </section>

  </div>
</div>
