.header-message {
    top: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
    height: 30px;
    padding: 0 20px;
    background-color: black;

    h1 {
      color: white;
      font-size: 14px;
      font-weight: 200;
      padding: 5px 0;
    }
  }